/* 行标签样式----begin */
.row {
    width: 100%;
    display: flex;
    padding: 10px 0;
    color: var(--font-color);
}

.row .r-key {
    width: 120px;
    line-height: 40px;
    text-align: right;
}

.row .r-val {
    flex: 1;
}

.row.must .r-key:before {
    content: "*";
    color: var(--alert-color);
}
/* 行标签样式----end */

/*选择框样式----begin*/
div.d-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    line-height: unset;
    display: inline-block;
}

div.d-checkbox:before {
    top: 0px;
    left: 0px;
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    border: 2px solid var(--border-color);
}

div.d-checkbox:hover:before,
div.d-checkbox.checked:before {
    border: 2px solid var(--blue);
}

div.d-checkbox.checked:after {
    top: -2px;
    left: 2px;
    content: "\2714";
    color: var(--blue);
    position: absolute;
}

div.d-checkbox.checked2:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    background: var(--blue);
}
/*选择框样式----end*/

/*加载动画、弹出页面、弹出框、图片查看背景样式-----begin*/
.lbgMask:before,
.pbgMask:before,
.tbgMask:before,
.pibgMask:before {
    z-index: 98;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
}

.lbgMask:before,
.tbgMask:before，
.pibgMask:before {
    z-index: 198;
}
/*加载动画、弹出页面、弹出框，图片查看背景样式-----end*/

/*按钮组件样式-----begin*/
.button {
    display: inline-block;
    color: var(--font-color);
}

button {
    width: 120px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;
    color: var(--font-color);
    background: var(--white);
    border: 1px solid var(--border-color);
}

.button.add button i,
.button.delete button i,
.button.update button i,
.button.edit button i,
.button.detail button i {
    top: 1px;
    width: 20px;
    height: 14px;
    position: relative;
    display: inline-block;
}

.button.delete button i {
    top: 2px;
    transform: rotate(45deg);
}

.button.add button i:before,
.button.add button i:after,
.button.delete button i:before,
.button.delete button i:after {
    top: 6px;
    left: 3px;
    width: 14px;
    height: 2px;
    content: "";
    position: absolute;
    background: var(--white);
}

.button.add button i:after,
.button.delete button i:after {
    top: 0px;
    left: 9px;
    width: 2px;
    height: 14px;
}

.button.update button i:before,
.button.edit button i:before,
.button.detail button i:before {
    top: 0px;
    left: 3px;
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
}

.button.update button i:before {
    background: url("../assets/button-update.png");
}

.button.edit button i:before {
    background: url("../assets/button-edit.png");
}

.button.detail button i:before {
    background: url("../assets/button-detail.png");
}

.button.blue button {
    color: var(--white);
    background: var(--blue);
}

.button.green button {
    color: var(--white);
    background: var(--green);
}

.button.orange button {
    color: var(--white);
    background: var(--orange);
}

.button.red button {
    color: var(--white);
    background: var(--red);
}

.button button.disabled {
    background: var(--grey);
}

button:hover {
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.1);
}
/*按钮组件样式-----end*/

/*switch组件样式-----begin*/
.switch {
    width: 80px;
    height: 40px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    display: inline-block;
    background: var(--blue);
    transition: .5s ease all;
}


.switch i,
.switch.switch-8 .s-box:before,
.switch.switch-9 .s-box:before,
.switch.switch-10 .s-box:before,
.switch.switch-11 .s-box:before {
    width: 40px;
    height: 40px;
    color: var(--blue);
    line-height: 36px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    background: #fff;
    transition: .5s ease all;
    border: 1px solid var(--blue);
}

.switch i.s-on {
    left: 0px;
}

.switch i.s-off {
    left: 40px;
}

.switch .s-box {
    width: 80px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
}

.switch.switch-8 .s-box:before,
.switch.switch-9 .s-box:before {
    top: 5px;
    z-index: 1;
    content: "";
    width: 30px;
    height: 30px;
    border: 0px solid var(--blue);
}

.switch.switch-8 .s-box.s-left:before,
.switch.switch-9 .s-box.s-left:before {
    left: 5px;
}

.switch.switch-8 .s-box.s-right:before,
.switch.switch-9 .s-box.s-right:before {
    left: 45px;
}

.switch.switch-3,
.switch.switch-5,
.switch.switch-7,
.switch.switch-9 .s-box.s-right,
.switch.switch-11 .s-box.s-right {
    background: var(--red);
}

.switch.switch-3 i,
.switch.switch-5 i,
.switch.switch-7 i {
    color: var(--red);
    border: 1px solid var(--red);
}

.switch.switch-8 .s-i,
.switch.switch-9 .s-i,
.switch.switch-10 .s-i,
.switch.switch-11 .s-i {
    z-index: 2;
    color: var(--black);
    background: transparent;
    border: 0px solid var(--blue);
}

.switch.switch-10 .s-i,
.switch.switch-11 .s-i {
    color: transparent;
}

.switch.switch-8 .s-i.active,
.switch.switch-9 .s-i.active,
.switch.switch-10 .s-i.active,
.switch.switch-11 .s-i.active {
    color: var(--blue);
}

.switch.switch-9 .s-box.s-right .s-off,
.switch.switch-11 .s-box.s-right .s-off {
    color: var(--red);
}

.switch.switch-10 .s-box:before,
.switch.switch-11 .s-box:before {
    top: 1px;
    left: 39px;
    z-index: 1;
    content: "";
    width: 38px;
    height: 38px;
    transition: .8s ease all;
    transform-origin: 0% 50%;
    border: 0px solid var(--blue);
}

.switch.switch-10 .s-box.s-left:before,
.switch.switch-11 .s-box.s-left:before {
    transform: rotateY(180deg);
}

.switch.switch-10 .s-box.s-right:before,
.switch.switch-11 .s-box.s-right:before {
    transform: rotateY(0deg);
}
/*switch组件样式-----begin*/

/*table组件样式-----begin*/
.t-head .th-tr,
.t-body .tb-tr {
    display: flex;
    margin: 0 20px;
    line-height: 50px;
    background: var(--grey);
}

.t-body .tb-tr {
    background: var(--white);
}

.th-tr span,
.tb-tr span {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 10px 0px 20px;
}

.tb-tr span.s-none {
    text-align: center;
}

.tb-tr:nth-child(2n){
    background: var(--thead-bg);
}
/*table组件样式-----end*/


/*时间轴组件样式-----start*/
.timeaxis {
    width: 800px;
    height: 100%;
    color: var(--font-color);
}

.timeaxis .ta-list1,
.timeaxis .ta-list2 {
    width: 100%;
    height: 100%;
}

.ta-list1 .tsl1-item,
.ta-list2 .tsl2-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    flex-direction: row; 
}

.ta-list1 .tsl1-item.active {
    color: var(--blue);
}

.tsl1-item .tsl1i-left,
.tsl2-item .tsl2i-left {
    width: 30%;
    padding-bottom: 20px;
}

.tsl1i-left .tsl1il-date {
    width: 100%;
    height: 32px;
    text-align: right;
}

.tsl1i-left .tsl1il-title,
.tsl2i-left .tsl2il-title {
    width: 100%;
    font-size: 18px;
    text-align: right;
}

.tsl1-item .tsl1i-line,
.tsl2-item .tsl2i-line {
    width: 5%;
    position: relative;
}

.tsl1i-line .tsl1il-point,
.tsl2i-line .tsl2il-point {
    top: 0px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s;
    border: 1px solid var(--border-color);
}

.tsl1-item.active .tsl1i-line .tsl1il-point {
    border: 1px solid var(--blue);
}

.tsl1i-line .tsl1il-point:hover,
.tsl2i-line .tsl2il-point:hover {
    transform: scale(1.2, 1.2);
}

.tsl1i-line .tsl1il-point:before,
.tsl2i-line .tsl2il-point:before {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    content: "";
    border-radius: 50%;
    position: absolute;
    background: var(--border-color);
}

.tsl1-item.active .tsl1i-line .tsl1il-point:before {
    background: var(--blue);
}

.tsl1-item .tsl1i-line:after,
.tsl2-item .tsl2i-line:after {
    top: 20px;
    left: 19px;
    width: 2px;
    content: "";
    position: absolute;
    height: calc(100% - 20px);
    background: var(--border-color);
}

.tsl1-item:last-child .tsl1i-line:after,
.tsl2-item:last-child .tsl2i-line:after {
    height: 0px;
}

.tsl1-item .tsl1i-right {
    width: 65%;
}

.tsl2i-left .tsl2il-img {
    width: 100px;
    height: 100px;
    margin-left: auto;
}

.tsl2-item .tsl2i-line {
    width: 15%;
}

.tsl2-item .tsl2i-line:before {
    top: 40%;
    width: 50%;
    content: '';
    height: 0.5em;
    position: absolute;
    background:
        linear-gradient(135deg, transparent, transparent 45%, var(--border-color), transparent 55%, transparent 100%),
        linear-gradient(45deg, transparent, transparent 45%, var(--border-color), transparent 55%, transparent 100%);
    background-size: 1em 1em;
    background-repeat: repeat-x, repeat-x;
}

.tsl2-item .tsl2i-line::after {
    top: 72px;
    left: 59px;
}

.tsl2i-line .tsl2il-point {
    top: 36%;
}

.tsl2-item .tsl2i-right {
    width: 55%;
    position: relative;
}

.tsl2-item .tsl2i-right:before {
    top: 42.5%;
    left: -14%;
    width: 60px;
    height: 2px;
    content: "";
    position: absolute;
    background: var(--border-color);
}

.tsl2i-right .tsl2ir-box {
    top: 8.5%;
    left: 5%;
    width: 100%;
    padding: 10px;
    min-height: 100px;
    position: relative;
    border: 2px solid var(--border-color);
}

.tsl2i-right .tsl2ir-box::before {
    top: 28px;
    left: -28px;
    content: "";
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 26px solid var(--border-color);
}
/*时间轴组件样式-----end*/


/*时间轴组件样式-----start*/
.lrselect {
    width: 100%;
    padding: 0 20px;
    color: var(--font-color);
}

.lrselect .lrs-search {
    width: 100%;
    height: 60px;
    display: flex;
}

.lrs-search .lrss-left,
.lrs-search .lrss-right {
    width: 100%;
    height: 100%;
    position: relative;
}

.lrs-search .lrss-left:after,
.lrs-search .lrss-right:after {
    top: 20px;
    right: 10px;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: url("../assets/search.png");
}

.lrss-left input,
.lrss-right input {
    width: 100%;
    margin-top: 10px;
}

.lrs-search .lrss-center,
.lrs-body .lrsb-center {
    width: 200px;
    height: 100%;
}

.lrselect .lrs-body {
    width: 100%;
    height: 100%;
    display: flex;
}

.lrs-body .lrsb-left,
.lrs-body .lrsb-right {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.lrs-body .lrsb-center {
    height: 500px;
    display: flex;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center; /*定义body的里的元素水平居中*/
}

.lrsb-left .lrsbl-title,
.lrsb-right .lrsbr-title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    position: relative;
    background: var(--thead-bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lrsbr-title .lrsbl-clear {
    top: 8px;
    right: 8px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    color: var(--white);
    background: var(--red);
}

.lrsb-left .lrsbl-list,
.lrsb-right .lrsbr-list {
    height: 460px;
}

.lrsb-left .lrsbll-item1,
.lrsb-right .lrsbr-item1,
.lrsb-left .lrsbll-item2,
.lrsb-right .lrsbr-item2 {
    width: 285px;
    height: 32px;
    margin: 0 auto;
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lrsbll-item1.active,
.lrsbll-item1:hover,
.lrsbr-item1.active,
.lrsbr-item1:hover {
    color: var(--white);
    background: var(--blue);
}

.lrsb-center .lrsbc-box {
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column;
}

.lrsbc-box .lrsbcb-btns {
    width: 100%;
    height: 50%;
}

.lrsbcb-btns .lrsbcbb-btn {
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 40% auto;
    position: relative;
    border: 1px solid var(--border-color);
}

.lrsbcb-btns .lrsbcbb-btn:before {
    top: 6px;
    left: 16px;
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    border-left: double 4px;
    transform: rotate(225deg);
    border-bottom: double 4px;
}

.lrsbcb-btns .lrsbcbb-btn.lrsbcbb-left:before {
    left: 25px;
    transform: rotate(45deg);
}

.lrsbcb-btns .lrsbcbb-btn:hover,
.lrsbcb-btns .lrsbcbb-btn.active {
    color: var(--blue);
    border: 1px solid var(--blue);
}

.lrsb-left .lrsbll-item2,
.lrsb-right .lrsbr-item2,
.lrsb-left .lrsbll-item3,
.lrsb-right .lrsbrl-item3 {
    cursor: unset;
    line-height: unset;
}

.lrsbll-item2 span,
.lrsbr-item2 span,
.lrsbll-item3 span,
.lrsbrl-item3 span {
    width: 240px;
    height: 32px;
    overflow: hidden;
    line-height: 32px;
    line-height: 32px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

.lrsbll-item2 .d-checkbox,
.lrsbr-item2 .d-checkbox,
.lrsbll-item3 .d-checkbox,
.lrsbrl-item3 .d-checkbox {
    top: -7px;
}

.lrsbl-list .lrsbll-item3,
.lrsbr-list .lrsbrl-item3 {
    width: 285px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lrsbll-item3 .lrsblli-group,
.lrsbrl-item3 .lrsbrli-group {
    padding-left: 10px;
}

.lrsblli-group .lrsbll-item3,
.lrsbrli-group .lrsbrl-item3 {
    width: 255px;
}

.lrsbll-item3 span,
.lrsbrl-item3 span {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
}

.lrsbll-item3 span.hide:before,
.lrsbrl-item3 span.hide:before {
    width: 0;
    height: 0;
    top: 13px;
    left: 10px;
    content: "";
    position: absolute;
    border-left: 5px solid #8691a3;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.lrsbll-item3 span.open:before,
.lrsbrl-item3 span.open:before {
    width: 0;
    height: 0;
    top: 15px;
    left: 6px;
    content: "";
    position: absolute;
    border-top: 5px solid var(--blue);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.lrsblli-group .lrsbll-item3 .d-checkbox,
.lrsbrli-group .lrsbrl-item3 .d-checkbox {
    right: 20px;
}

.lrsbll-item3 .d-checkbox.checked:after,
.lrsbrl-item3 .d-checkbox.checked:after {
    top: -7px;
}

.lrsbll-item3 .lrsbll-sub span {
    cursor: unset;
}
/*时间轴组件样式-----end*/

/* 拖拽组件样式------begin */
.dragdrop {
    width: 100%;
    height: 100%;
}

.dragdrop .dd-top-btn {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #eff0f2;
}

.dd-top-btn .ddtb-tabs {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.ddtb-tabs .ddtbt-item {
    width: 100px;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
}

.ddtb-tabs .ddtbt-item.active {
    border-bottom: 1px solid var(--blue);
}

.dd-top-btn .ddtb-btns {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ddtb-btns .ddbtb-btn {
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    margin: 15px 20px;
    color: var(--blue);
}

.dragdrop .dd-left {
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    padding: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    border-right: solid 2px #eff0f2;
}

.dd-left .ddl-item {
    width: 100%;
    height: 50px;
    cursor: move;
    line-height: 50px;
    position: relative;
    padding-left: 50px;
}

.dd-left .ddl-item.active,
.dd-left .ddl-item:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--blue);
}

.dd-left .ddl-item::before {
    top: 15px;
    left: 15px;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
}

.dd-left .ddl-item.ddli-oneRowOneCol::before {
    background: url("../assets/oneRowOneCol_icon1.png");
}

.dd-left .ddl-item.active.ddli-oneRowOneCol::before,
.dd-left .ddl-item:hover.ddli-oneRowOneCol::before {
    background: url("../assets/oneRowOneCol_icon2.png");
}

.dd-left .ddl-item.ddli-oneRowTwoCol::before {
    background: url("../assets/oneRowTwoCol_icon1.png");
}

.dd-left .ddl-item.active.ddli-oneRowTwoCol::before,
.dd-left .ddl-item:hover.ddli-oneRowTwoCol::before {
    background: url("../assets/oneRowTwoCol_icon2.png");
}

.dd-left .ddl-item.ddli-oneRowThreeCol::before {
    background: url("../assets/oneRowThreeCol_icon1.png");
}

.dd-left .ddl-item.active.ddli-oneRowThreeCol::before,
.dd-left .ddl-item:hover.ddli-oneRowThreeCol::before {
    background: url("../assets/oneRowThreeCol_icon2.png");
}

.dd-left .ddl-item.ddli-input::before {
    background: url("../assets/input_icon1.png");
}

.dd-left .ddl-item.active.ddli-input::before,
.dd-left .ddl-item:hover.ddli-input::before {
    background: url("../assets/input_icon2.png");
}

.dd-left .ddl-item.ddli-textarea::before {
    background: url("../assets/textarea_icon1.png");
}

.dd-left .ddl-item.active.ddli-textarea::before,
.dd-left .ddl-item:hover.ddli-textarea::before {
    background: url("../assets/textarea_icon2.png");
}

.dd-left .ddl-item.ddli-radio::before {
    background: url("../assets/radio_icon1.png");
}

.dd-left .ddl-item.active.ddli-radio::before,
.dd-left .ddl-item:hover.ddli-radio::before {
    background: url("../assets/radio_icon2.png");
}

.dd-left .ddl-item.ddli-checkbox::before {
  background: url("../assets/checkbox_icon1.png");
}

.dd-left .ddl-item.active.ddli-checkbox::before,
.dd-left .ddl-item:hover.ddli-checkbox::before {
  background: url("../assets/checkbox_icon2.png");
}

.dd-left .ddl-item.ddli-select::before {
  background: url("../assets/select_icon1.png");
}

.dd-left .ddl-item.active.ddli-select::before,
.dd-left .ddl-item:hover.ddli-select::before {
  background: url("../assets/select_icon2.png");
}

.dd-left .ddl-item.ddli-time::before {
  background: url("../assets/time_icon1.png");
}

.dd-left .ddl-item.active.ddli-time::before,
.dd-left .ddl-item:hover.ddli-time::before {
  background: url("../assets/time_icon2.png");
}

.dd-left .ddl-item.ddli-date::before {
  background: url("../assets/date_icon1.png");
}

.dd-left .ddl-item.active.ddli-date::before,
.dd-left .ddl-item:hover.ddli-date::before {
  background: url("../assets/date_icon2.png");
}

.dd-left .ddl-item.ddli-button::before {
  background: url("../assets/button_icon1.png");
}

.dd-left .ddl-item.active.ddli-button::before,
.dd-left .ddl-item:hover.ddli-button::before {
  background: url("../assets/button_icon2.png");
}

.ddl-item .ddli-add {
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    display: none;
    position: absolute;
    background: url("../assets/add.png");
}

.ddl-item:hover .ddli-add {
    display: block;
}

.dragdrop .dd-right {
    top: 60px;
    right: 0px;
    left: 200px;
    bottom: 0px;
    padding: 10px;
    position: absolute;
}

.dd-right .ddr-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ddr-box .ddrb-form {
    width: 80%;
    height: 100%;
    border-right: solid 1px #eff0f2;
}

.ddrb-form .ddrbf-row {
    width: 100%;
    display: flex;
    min-height: 40px;
    flex-direction: row;
}

.ddrbf-row .ddrbfr-col {
    flex: 1;
    cursor: pointer;
    position: relative;
    border: solid 1px #eff0f2;
}

.ddrbf-row .ddrbfr-col.active {
    border: solid 1px #ffba2a;
}

.ddrbfr-col .ddrbfrc-btns {
    right: 0;
    bottom: 0;
    height: 20px;
    display: none;
    position: absolute;
    flex-direction: row;
}

.ddrbfr-col:hover .ddrbfrc-btns {
    display: flex;
}

.ddrbfrc-btns .ddrbfrcb-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.ddrbfrc-btns .ddrbfrcb-btn.ddrbfrcb-left {
  background: url("../assets/leftmove_icon.png");
}

.ddrbfrc-btns .ddrbfrcb-btn.ddrbfrcb-right {
  background: url("../assets/rightmove_icon.png");
}

.ddrbfrc-btns .ddrbfrcb-btn.ddrbfrcb-up {
  background: url("../assets/upmove_icon.png");
}

.ddrbfrc-btns .ddrbfrcb-btn.ddrbfrcb-down {
  background: url("../assets/downmove_icon.png");
}

.ddrbfrc-btns .ddrbfrcb-btn.ddrbfrcb-del {
  background: url("../assets/delete_icon.png");
}

.ddr-box .ddrb-setting {
    width: 18%;
    height: 100%;
    font-size: 12px;
}

.ddrb-setting .row .r-key {
    width: 70px;
    line-height: 30px;
}

.ddrb-setting input,
.ddrb-setting textarea {
    height: 30px;
    font-size: 12px;
}

.ddrb-setting .switch {
    width: 60px;
    height: 30px;
}

.ddrb-setting .switch i {
    width: 30px;
    height: 30px;
    line-height: 26px;
}

.ddrb-setting .switch i.s-off {
    left: 30px;
}

.ddrb-setting .ddrbs-list-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ddrbs-list-box .sdlb-item {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.sdlb-item .sdlbi-input {
    flex: 1;
    height: 40px;
}

.sdlb-item .sdlbi-input input {
    padding: 0 10px;
}

.sdlb-item .sdlbi-btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 4px;
    position: relative;
    border-radius: 50%;
    background: var(--blue);
}

.sdlb-item .sdlbi-btn::before {
    top: 6px;
    left: 2px;
    width: 11px;
    height: 3px;
    content: "";
    background: #fff;
    position: absolute;
}

.sdlb-item .sdlbi-btn.del {
    background: var(--red);
}

.sdlb-item .sdlbi-btn.add::after {
    top: 2px;
    left: 6px;
    width: 3px;
    height: 11px;
    content: "";
    background: #fff;
    position: absolute;
}

.ddrb-setting .ddrbs-radio {
    width: 100%;
}

.ddrbs-radio .ddrbsr-item {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    position: relative;
}

.ddrbs-radio .ddrbsr-item::before {
    top: 6px;
    left: 0px;
    content: "";
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.ddrbs-radio .ddrbsr-item.active::before,
.ddrbs-radio .ddrbsr-item:hover::before {
    border: 2px solid var(--blue);
}

.ddrbs-radio .ddrbsr-item.active::after {
    top: 11px;
    left: 5px;
    content: "";
    width: 9px;
    height: 9px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background: var(--blue);
}
/* 拖拽组件样式------end */